---
Menu: main
Title: Home
Weight: -10
outputs:
- html
CustomCSS: assets/home.css
---

<h2 id="featured-apis" class="d-xl-none" data-bs-toggle="collapse" data-bs-target="#apis-collapse" aria-expanded="false" aria-controls="apis-collapse">
  <a role="button">
    Featured APIs
    {{< chevron-up >}}
  </a>
</h2>
<p class="h2 d-none d-xl-block">Featured APIs</p>

{{< apis >}}

<hr>

<h2 id="supported-drivers" data-bs-toggle="collapse" data-bs-target="#drivers-collapse" aria-expanded="false" aria-controls="drivers-collapse">
  <a role="button">
    Supported Drivers
    {{< chevron-up >}}
  </a>
</h2>

{{< drivers >}}

<script>
  document.getElementById('featured-apis').classList.add('collapsed');
  document.getElementById('supported-drivers').classList.add('collapsed');
  document.getElementById('apis-collapse').classList.add('collapse');
  document.getElementById('drivers-collapse').classList.add('collapse');
</script>

<hr>

{{< latest-news >}}
