<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
  {{- range .Ancestors.Reverse }}
    <li class="breadcrumb-item"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{- end }}
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
  </ol>
</nav>
